@charset "UTF-8";
/* CORES 
branco #F6F6F6
preto #000000
azul botao #22D4FD
---
azul escuro #0A2647
azul medio #144272
azul #205295
azul claro #2C74B3

cores retro
preto #000000
dark grey #222222
turquesa #1DCD9F
verde oceano #169976
*/

/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.krona-one-regular {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Fim Fontes */




*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color:#222222;
    color: #F6F6F6;
}

.apresentacao {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;

}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.titulo-destaque {
    color: #22D4FD;
}

.paragrafo-destaque{
    color:#22D4FD;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link{
    background-color: #22D4FD;
    width: 280px;
    padding: 21.5px 0;
    border-radius: 16px;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}